  .footer {
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #ddd;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer a {
  color: #226ec5;
  font-weight: 600;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
/* app/globals.css */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Контент розтягує сторінку */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
